#apartment .swiper-button-prev,
#apartment .swiper-button-next {
  top: auto;
  bottom: 0;
  background-color: #3d5cab;
  color: #e87726;
  border: 1px solid #e87726;
  border-radius: 50%;
  height: 50px;
  width: 50px;
}
@media only screen and (max-width: 700px) {
  #apartment .swiper-button-prev,
  #apartment .swiper-button-next {
    display: none;
  }
}

#apartment .swiper-pagination-bullet {
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  font-size: 12px;
  color: #000;
  opacity: 1;
  background: rgba(0, 0, 0, 0.2);
}

#apartment .swiper-pagination-bullet-active {
  color: #fff;
  background: #3d5cab;
}

#apartment .carousel .thumb {
  width: 30px !important;
}
.carousel .control-dots {
  display: none;
}
